h2 Signup
form(action='/signup', method='post')
    | username :
    input(type='text', name='username')
    | password :
    input(type='text', name='password')
    input(type='submit', value='submit')

h2 Login
form(action='/user_login', method='post')
    | username :
    input(type='text', name='username')
    | password :
    input(type='text', name='password')
    input(type='submit', value='submit')

h2 Change password
form(action='/change_password', method='post')
    | username :
    input(type='text', name='username')
    | old_password :
    input(type='text', name='old_password')
    | new_password :
    input(type='text', name='new_password')
    input(type='submit', value='submit')

h2 Search App
form(action='/search_app', method='post')
    | app_name :
    input(type='text', name='app_name')
    input(type='submit', value='submit')
