h2 Login
form(action='/admin_login', method='post')
    | username :
    input(type='text', name='username')
    | password :
    input(type='text', name='password')
    input(type='submit', value='submit')

h2 Change password
form(action='/change_password', method='post')
    | username :
    input(type='text', name='username')
    | old_password :
    input(type='text', name='old_password')
    | new_password :
    input(type='text', name='new_password')
    input(type='submit', value='submit')

h2 CPU Usage
form(action='/cpu_usage', method='post')
    input(type='submit', value='submit')

h2 Data Usage
form(action='/data_usage', method='post')
    input(type='submit', value='submit')

h2 CPU Graph
form(action='/cpu_graph', method='post')
    input(type='submit', value='submit')

h2 Data Graph
form(action='/data_graph', method='post')
    input(type='submit', value='submit')